numpy==1.26.4
pandas==2.2.2
mcap==1.1.1
/workspaces/secret-core/bazel-bin/pkg/resim_open_core-0.0.0-py3-none-manylinux2014_x86_64.whl
matplotlib==3.9.2
attrs==24.2.0
httpx==0.27.0
requests==2.32.3
plotly==5.23.0
